body {
    margin: 0;
    font-family: 'Segoe UI Bold', 'Arial Black', sans-serif;
    font-weight: bold;
    background-color: #ffffff;
    overflow-x: hidden; /* Mencegah scroll horizontal */
    min-height: 100vh; /* Tinggi minimum dari body */
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1; /* Mengisi ruang yang tersisa dengan konten */
    padding-top: 0; /* Menambahkan padding atas untuk mencegah navbar tertutup konten */
    padding-bottom: 0;
    text-align: center;
}
img {
    width: 120%;
    height: auto;
    max-width: 100%;
    border-radius: 0px;
}
.logo {
    height: auto;
    width: 100px; /* Mengatur ukuran logo */
    margin: auto; /* Mencentang logo di layar kecil */
}
footer {
    background-color: #2c2c2c;
    color: #6c757d;
    width: 100%;
    text-align: center;
    padding: 30px 0;
    font-size: 16px;
    margin-top: auto; /* Mendorong footer ke bawah */
}
.fa {
    padding: 10px;
    font-size: 20px;
    width: 36px;
    text-align: center;
    text-decoration: none;
    margin: 6px 5px;
    border-radius: 50%;
}

.nav-link {
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
}

.nav-link:hover {
    color: #00204A;
}